<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Homework 3</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

<header>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="survey">Survey</a></li>
    <li><a href="articles">Articles</a></li>
    <li><a href="quotes">Quotes</a></li>
    <li><a href="feedback">Feedback</a></li>
  </nav>
</header>
<main>
    <section class = "title">
      <div class="tab">
      <pre>
              _                 _   
        /\   | |               | |  
       /  \  | |__   ___  _   _| |_ 
      / /\ \ | '_ \ / _ \| | | | __|
     / ____ \| |_) | (_) | |_| | |_ 
    /_/    \_\_.__/ \___/ \__,_|\__|
                                                                                                                                                          
      </pre>
    </div>
    </section>
    <section  class = "text-screen">
        <h2>Links I used</h2>
        <ul>
            <li> <a href="https://www.kammerl.de/ascii/AsciiSignature.php"> Fancy ASC II text </a> </li>
            <li> <a href="https://www.kammerl.de/ascii/AsciiSignature.php"> Flat Icons</a>  </li>
            <li> <a href="https://giphy.com/"> Pixel Art </a> </li>
            <li><a href="https://github.com/aulisius/prog-quote">Random quotes</a></li>
        </ul>
    </section>
</main>
<script src="app.js"></script>
</body>
</html>
