<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Homework 3</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body style="height: auto; background-image: none;">
<header>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="survey">Survey</a></li>
      <li><a href="articles">Articles</a></li>
      <li><a href="quotes">Quotes</a></li>
      <li><a href="feedback">Feedback</a></li>
    </nav>
  </header>
  <main>
      <section class = "title">
        <div >
        <pre>

               _   _      _           
    /\        | | (_)    | |          
   /  \   _ __| |_ _  ___| | ___  ___ 
  / /\ \ | '__| __| |/ __| |/ _ \/ __|
 / ____ \| |  | |_| | (__| |  __/\__ \
   /_/    \_\_|   \__|_|\___|_|\___||___/   </pre>
      </div>
      </section>
      <section  class = "text-screen">
  <article>
    <h2>HTML</h2> 
    <p class = "author">By Ian Hardy</p>
    <p> 
    It's hard to imagine now, but original sites on the world wide web, written in HTML 
    code or hypertext mark-up language, were made up of little more than text.
    Corporate web designers were well aware that most of their customers had slow connections 
    and would not tolerate much of a wait.
    Even a simple black and white image could irritate a user, as it gradually 
    appeared on the screen revealing itself one painful line at a time.
  
   </p>
    <a href="https://www.bbc.com/news/business-17931814">Read more</a> 
    <img src="img/files.png" alt="">
  </article> 

<article>
  <h2>CSS reset</h2>
  <p class = "author">by Mat Hampson</p>
  <p> A CSS reset is a snippet that zeroes CSS values for all elements - zero padding and margins, no borders, 100% font sizing and so on. 
  They've been around far longer than Barlesque, for example this one from (the extremely smart) Eric Meyer.
  </p> 
  <a href="https://www.bbc.co.uk/blogs/webdeveloper/2009/10/css-resets.shtml">Read more</a> 
  <img src="img/files (1).png" alt="">
</article>

<article >  
<h2>What are Java and Javascript?</h2>
<p class = "author">By Wendy M Grossman </p>
<p>The simplest web pages are made up of just text plus some coding to tell your browser how to display them.
  Slightly more complex pages may have graphics and other design elements to make the page more attractive
   and the site, as a whole, easier to navigate. They may also have audio and video clips.

  But very complex web pages that change in response to user input require programs to make them work. 
  These programs are typically written in either Java or JavaScript because all browsers support them. 
</p>
 <a href="http://www.bbc.co.uk/webwise/guides/java-and-javascript">Read more</a> 
 <img src="img/js.png" alt="">
</article>

</section>


  </main>
</body>
</html>
