<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Homework 3</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

<header>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="survey">Survey</a></li>
    <li><a href="articles">Articles</a></li>
    <li><a href="quotes">Quotes</a></li>
    <li><a href="feedback">Feedback</a></li>
  </nav>
</header>
  <main>
    <section class = "title">
      <div class="tab">
      <pre>
_    _   ____   __  __  ______ __          __ ____   _____   _  __    _  _     ____  
| |  | | / __ \ |  \/  ||  ____|\ \        / // __ \ |  __ \ | |/ /  _| || |_  |___ \ 
| |__| || |  | || \  / || |__    \ \  /\  / /| |  | || |__) || ' /  |_  __  _|   __) |
|  __  || |  | || |\/| ||  __|    \ \/  \/ / | |  | ||  _  / |  &lt;    _| || |_   |__ &lt; 
| |  | || |__| || |  | || |____    \  /\  /  | |__| || | \ \ | . \  |_  __  _|  ___) |
|_|  |_| \____/ |_|  |_||______|    \/  \/    \____/ |_|  \_\|_|\_\   |_||_|   |____/ 
                                                                                                                                                  
      </pre>
    </div>
    </section>
    <section  class = "text-screen">
    <div class="tab">
      <h1>How I actually do the homework.</h1>
        <h2>1. Get an idea.</h2>
        <p>It can be anything, a frase, an image. From the beginning I have a solid picture of the result I want to achieve</p>
            This time it is 16-bit.   
      </div>
    <div class="tab">
          <h2>2. Get more information</h2>
          <p>Soon after start I realize that I don't know how to make a certain element or a feature.<br> 
            I have to google a lot. Mostly I use <a href="https:\\codepen.io">Codepen</a> for more details. 
          </p>
      </div>
    <div class="tab">
        <h2>3. Actually do the work</h2>
        <p>Sometimes I reuse some code I used earlier. I watch lots and lots tutorials online.</p>
    </div>     
    <div class="tab">
      <h2>4. Read the task</h2>
      <p>For some reason I read the task and make the required elements in the very last moment.
        Forms, right? Take a survey to check it out and <a href = "articles.html"> click here </a> to see the task #4.
      </p>
    </div>  
    </section>
    <div class = "buttons"> 
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Start</button>
  </div>
  </main>
  <script>
    const nextLink = "location.href='survey'"
  </script>
  <script src="app.js"></script>
</body>
</html>
